@media (max-width: 35em) {
   header#header-branding {
      h1 {
         background: $clr-headingBlue;
         border-bottom: 4px solid #002955;
         color: #002955;
         text-shadow: none;
         font-size: 2rem;
         line-height: 1.5;
         margin: 0;
         padding: .5em;
         white-space: nowrap;
      }
   }

   section#section-search {
      justify-content: initial;
      overflow: hidden;

      form {
         input[type=text] {
            border-radius: 0;
            flex-basis: 100%;
            text-align: center;
         }

         button#search-btn {
            border-radius: 0;
            flex-basis: 10%;
         }
      }
   }

   section#images {
      margin: 0;

      img {
         height: 20em;
      }
   }
}